* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
   justify-content: center;
   align-items: center;
   color: rgb(255, 255, 255);
   background: linear-gradient(rgb(93, 93, 93), rgb(17, 17, 17)) ;
}
.heading {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}
a {
    text-decoration: none;
    padding: 25px;
    font-size: 1.3rem;
    color: rgb(255, 254, 254);
}
a:hover {
    color: rgb(148, 148, 148);
    transition: 0.5s;
}
nav {
    margin-top: 30px;
    overflow: hidden;
    text-align: center;
}
li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
 
  }
div {
      margin-top: 50px;
  }
  #contact {
      margin-bottom: 40px;
  }
#qualifications li {
    margin-top: 20px;
    text-align:center;
    list-style: none; 
}
#container1, #container2, #container3 p {
    text-align: center;
}
.single-box {
    width: 45%;
    height: 250px;
    display: inline-block;
    margin: 20px 30px;
    text-align: left;
    padding: 15px;
    justify-content: center;
    text-justify:distribute-all-lines;
    border-radius: 25px;
}
.interest-box {
    width: 55%;
    height: 225px;
    display: inline-block;
    margin: 10px 20px;
    text-align: left;
    padding: 15px;
    border-radius: 25px;

}
.interests {
    display: inline;
}
.content {
    text-align: justify;
  text-justify: inter-word;
}
#skills h2{
    text-align: left;
  
}
li {
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
}
.fab {
    color: rgb(255, 255, 255);
}
.fab:hover {
    color: gray;
    transition: 0.3s ease-in-out;

}
li, p{
    font-size: 1.21rem;
}
.form {
    text-align: center;
    justify-content: center;

}
input {
    border-radius: 15px;
    border: none;
    width: 200px;
    height: 30px;
}
 h1, h2, h3{
    text-align: center;
}
@media only screen and (min-width: 601px) {
    body {
        background-color: lightblue;
    }
    .interests {
        display: block;
    }
  }
  @media screen and (max-width: 800px) {
    a, .container2, .container3 {
      display: block;
    }
    .single-box, .interest-box {
        width: 80%;
    }
  }








  